:root {
  --border-gray: rgba(211, 214, 218, 1);
  --gray: rgba(211, 214, 218, 1);
  --darkgray: rgba(120, 124, 126, 1);
  --green: rgba(106, 170, 100, 1);
  --yellow: rgba(201, 180, 88, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(18, 18, 18, 1);
  --red: rgba(193, 40, 27, 1); }

@keyframes shake-letter {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }

@keyframes shake-line {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }
  body header {
    border-bottom: 1px var(--border-gray) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px; }
    body header h1 {
      margin: 10px 0; }
  body #game-board {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    body #game-board #word-board {
      position: relative; }
      body #game-board #word-board #word-attempts {
        max-width: 290px;
        width: 100%;
        margin: auto; }
        body #game-board #word-board #word-attempts .line {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between; }
          body #game-board #word-board #word-attempts .line.shake-line {
            animation-duration: 0.1s;
            animation-name: shake-line;
            animation-iteration-count: 5; }
          body #game-board #word-board #word-attempts .line .letter {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--darkgray);
            width: 50px;
            height: 50px;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700; }
            body #game-board #word-board #word-attempts .line .letter.populated {
              border: 1px solid var(--black); }
            body #game-board #word-board #word-attempts .line .letter.correct-location {
              background-color: var(--green);
              color: var(--white); }
            body #game-board #word-board #word-attempts .line .letter.incorrect-location {
              background-color: var(--yellow);
              color: var(--white); }
            body #game-board #word-board #word-attempts .line .letter.not-found {
              background-color: var(--darkgray);
              color: var(--white); }
            body #game-board #word-board #word-attempts .line .letter.shake {
              animation-duration: 0.25s;
              animation-name: shake-letter;
              animation-iteration-count: initial; }
      body #game-board #word-board #popups {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap; }
        body #game-board #word-board #popups #windows {
          width: 200px; }
          body #game-board #word-board #popups #windows .popup {
            background-color: var(--black);
            color: white;
            text-align: center;
            max-width: 150px;
            width: 100%;
            border-radius: 7px;
            padding: 10px 0;
            display: none;
            margin: 0 auto 10px; }
            body #game-board #word-board #popups #windows .popup:last-of-type {
              margin-bottom: 0px; }
            body #game-board #word-board #popups #windows .popup.show {
              display: block; }
            body #game-board #word-board #popups #windows .popup#wonPopup {
              max-width: 200px; }
            body #game-board #word-board #popups #windows .popup #puzzleWord span {
              padding: 2px;
              margin-right: 2px;
              font-weight: 600; }
              body #game-board #word-board #popups #windows .popup #puzzleWord span:last-of-type {
                margin-right: 0; }
              body #game-board #word-board #popups #windows .popup #puzzleWord span.correct-location {
                background-color: var(--green);
                color: var(--white); }
              body #game-board #word-board #popups #windows .popup #puzzleWord span.incorrect-location {
                background-color: var(--yellow);
                color: var(--white); }
              body #game-board #word-board #popups #windows .popup #puzzleWord span.not-found {
                background-color: var(--darkgray);
                color: var(--white); }
            body #game-board #word-board #popups #windows .popup#playAgain p {
              margin: 0 0 10px 0; }
            body #game-board #word-board #popups #windows .popup#playAgain button {
              border: 0;
              background-color: var(--gray);
              color: var(--white);
              width: 60px;
              padding: 5px 0;
              border-radius: 10px;
              margin-right: 10px; }
              body #game-board #word-board #popups #windows .popup#playAgain button:last-of-type {
                margin-right: 0; }
              body #game-board #word-board #popups #windows .popup#playAgain button#playAgainYes {
                background-color: var(--green); }
              body #game-board #word-board #popups #windows .popup#playAgain button#playAgainNo {
                background-color: var(--red); }
          body #game-board #word-board #popups #windows p {
            margin: 0 0 10px 0; }
            body #game-board #word-board #popups #windows p:last-of-type {
              margin-bottom: 0px; }
    body #game-board #keyboard {
      max-width: 500px;
      width: 100;
      margin: auto; }
      body #game-board #keyboard .keyrow {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; }
        body #game-board #keyboard .keyrow:last-of-type {
          margin-bottom: 0; }
        body #game-board #keyboard .keyrow .key {
          max-width: 40px;
          min-width: 40px;
          height: 50px;
          margin-right: 10px;
          padding: 0;
          border: 0;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: 700;
          background-color: var(--gray); }
          body #game-board #keyboard .keyrow .key.press {
            background-color: var(--darkgray);
            transform: translateY(5px); }
          body #game-board #keyboard .keyrow .key:last-of-type {
            margin-right: 0px; }
          body #game-board #keyboard .keyrow .key.enter {
            min-width: 60px;
            max-width: 60px;
            font-size: 0.75rem; }
          body #game-board #keyboard .keyrow .key.backspace {
            min-width: 60px;
            max-width: 60px;
            font-size: 0.75rem; }
          body #game-board #keyboard .keyrow .key.correct-location {
            background-color: var(--green);
            color: var(--white); }
          body #game-board #keyboard .keyrow .key.incorrect-location {
            background-color: var(--yellow);
            color: var(--white); }
          body #game-board #keyboard .keyrow .key.not-found {
            background-color: var(--darkgray);
            color: var(--white); }
