:root {
  --border-gray: rgba(211, 214, 218, 1);
  --gray: rgba(211, 214, 218, 1);
  --darkgray: rgba(120, 124, 126, 1);
  --green: rgba(106, 170, 100, 1);
  --yellow: rgba(201, 180, 88, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(18, 18, 18, 1);
  --red: rgba(193, 40, 27, 1);
}

@keyframes shake-letter {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake-line {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin puzzleLetterHighlight {
  &.correct-location {
    background-color: var(--green);
    color: var(--white);
  }

  &.incorrect-location {
    background-color: var(--yellow);
    color: var(--white);
  }

  &.not-found {
    background-color: var(--darkgray);
    color: var(--white);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  header {
    border-bottom: 1px var(--border-gray) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;

    h1 {
      margin: 10px 0;
    }
  }

  #game-board {
    max-width: 1200px;
    width: 100%;
    margin: auto;

    > section {
      margin-bottom: 30px;
    }

    #word-board {
      position: relative;

      #word-attempts {
        max-width: 290px;
        width: 100%;
        margin: auto;
        .line {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;

          &.shake-line {
            animation-duration: 0.1s;
            animation-name: shake-line;
            animation-iteration-count: 5;
          }

          .letter {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--darkgray);
            width: 50px;
            height: 50px;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;

            @include puzzleLetterHighlight();

            &.populated {
              border: 1px solid var(--black);
            }

            &.shake {
              animation-duration: 0.25s;
              animation-name: shake-letter;
              animation-iteration-count: initial;
            }
          }
        }
      }

      #popups {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        #windows {
          width: 200px;

          .popup {
            background-color: var(--black);
            color: var(--white);
            text-align: center;
            max-width: 250px;
            width: 100%;
            border-radius: 7px;
            padding: 10px 0;
            display: none;
            margin: 0 auto 10px;

            &:last-of-type {
              margin-bottom: 0px;
            }

            &.show {
              display: block;
            }

            &#wonPopup {
              max-width: 200px;
            }

            #puzzleWord {
              span {
                padding: 2px;
                margin-right: 2px;
                font-weight: 600;

                @include puzzleLetterHighlight();

                &:last-of-type {
                  margin-right: 0;
                }

                &.not-found {
                  background-color: var(--darkgray);
                  color: var(--white);
                }
              }
            }

            &#playAgain {
              p {
                margin: 0 0 10px 0;
              }

              button {
                border: 0;
                background-color: var(--gray);
                color: var(--white);
                width: 60px;
                padding: 5px 0;
                border-radius: 10px;
                margin-right: 10px;

                &:last-of-type {
                  margin-right: 0;
                }

                &#playAgainYes {
                  background-color: var(--green);
                }

                &#playAgainNo {
                  background-color: var(--red);
                }
              }
            }
          }

          p {
            margin: 0 0 10px 0;

            &:last-of-type {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    #keyboard {
      max-width: 500px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .keyrow {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        .key {
          max-width: 40px;
          min-width: 40px;
          height: 50px;
          margin-right: 10px;
          padding: 0;
          border: 0;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: 700;
          background-color: var(--gray);

          @include puzzleLetterHighlight();

          &.press {
            background-color: var(--darkgray);
            transform: translateY(5px);
          }

          &:last-of-type {
            margin-right: 0px;
          }

          &.enter {
            min-width: 60px;
            max-width: 60px;
            font-size: 0.75rem;
          }

          &.backspace {
            min-width: 60px;
            max-width: 60px;
            font-size: 0.75rem;
          }
        }
      }
    }

    #utils {
      width: 100%;
      text-align: center;

      button {
        height: 35px;
        width: 35px;
        border: 1px solid var(--gray);
        border-radius: 50%;
        font-size: 1.25em;
        color: var(--darkgray);
        background: none;

        &:hover {
          border: 1px solid var(--darkgray);
          color: inherit;
        }
      }
    }
  }

  #instructions {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hide {
      display: none;
    }

    #instruction-bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--gray);
      z-index: 1;
      opacity: 0.75;
    }

    #instruction-popup {
      max-width: 600px;
      width: 100%;
      border: 1px solid var(--black);
      opacity: 100%;
      background-color: var(--white);
      padding: 10px;
      border-radius: 10px;
      z-index: 2;

      p {
        font-size: 1.25em;
      }

      li {
        line-height: 1.5em;
      }

      #close-instructions {
        float: right;
        border: 1px solid var(--white);
        background: none;
        font-size: 1em;

        &:hover {
          border: 1px solid var(--gray);
        }
      }

      .example {
        .word-example {
          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--darkgray);
            width: 50px;
            height: 50px;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;

            @include puzzleLetterHighlight();
          }
        }
      }
    }
  }
}
